## 1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples:
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [5]:
def is_symmetrical(num):
    if str(num) == str(num)[::-1]:
        print(f"{num} > {True}")
        
    else:
        print(f"{num} > {False}")
        

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

7227 > True
12567 > False
44444444 > True
9939 > False
1112111 > True

## 2.Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples:
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [15]:
def multiply_num(string):
    output_string = string.replace(""," ").split(",")
    output = 1
    for i in output_string:
        output *= int(i)
    print(f"{string} > {output}")
    
multiply_num("2, 3")

2, 3 > 6

## 3.Create a function that squares every digit of a number.
Examples:
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [49]:
def squre_digit(num):
    sq =""
    for i in str(num):
        sq += str(int(i)**2)
    print(int(sq))
    
squre_digit(9119)
squre_digit(2483)
squre_digit(3212)

811181
416649
9414

## 4.Create a function that sorts a list and removes all duplicate items from it.
Examples:
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [54]:
def setify(lst):
    output = sorted(set(lst))
    print(f"{lst} > {output}")
    
setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])
setify([11,2,9,6,6,7,7,1,1,22])

[1, 3, 3, 5, 5] > [1, 3, 5]
[4, 4, 4, 4] > [4]
[5, 7, 8, 9, 10, 15] > [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] > [1, 2, 3]
[11, 2, 9, 6, 6, 7, 7, 1, 1, 22] > [1, 2, 6, 7, 9, 11, 22]

## 5.Create a function that returns the mean of all digits.
Examples:
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

Notes:
1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
2.The mean will always be an integer.

In [63]:
def mean(num):
    sum =0
    count = 0
    for i in str(num):
        sum += int(i)
        count=count+1
    return sum/count

print(mean(42))
print(mean(12345))
print(mean(666))

3.0
3.0
6.0